# Игнорировать всю папку:
cache/
.vagrant/
__pycache__/
mysql_D/
.vscode/
tmp/

# игнорировать расширения и файлы:
*.gpg
*.deb
authorized_key.json
.terraform.lock.hcl
*tfplan
*terraform.tfstate
*terraform.tfstate.backup
tfplan
terraform.tfstate
terraform.tfstate.backup
cloud-init.yml
*cloud-init.yml