root = /var/lib/samba
root = ssh://root@{{ secondary_dc }}.{{ ad_workgroup }}//var/lib/samba
# Список подкаталогов, которые нужно синхронизировать
path = sysvol
# Список подкаталогов, которые нужно игнорировать
#ignore = Path
auto=true
batch=true
perms=0
rsync=true
maxthreads=1
retry=3
confirmbigdeletes=false
servercmd=/usr/bin/unison
copythreshold=0
copyprog = /usr/bin/rsync -XAavz --rsh="ssh -o StrictHostKeyChecking=accept-new -i "{{ ssh_sysvol_path }}" -p 22" --inplace --compress
copyprogrest = /usr/bin/rsync -XAavz --rsh="ssh -o StrictHostKeyChecking=accept-new -i "{{ ssh_sysvol_path }}" -p 22" --partial --inplace --compress
copyquoterem = true
copymax = 1
copyquoterem = false

sshargs=-o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=/root/.ssh/known_hosts_unison

# Сохранять журнал с результатами работы в отдельном файле
logfile = /var/log/sysvol-sync.log
