server {{ exter_ntp }} iburst
{% for host in groups['domain_controllers'] %}
{% if inventory_hostname != host %}
server {{ host }}.{{ ad_workgroup }} iburst
{% endif %}
{% endfor %}
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
allow {{ allow_clients }}
local stratum 10
ntsdumpdir /var/lib/chrony
logdir /var/log/chrony
