nameserver 127.0.0.1
{% for server in groups['domain_controllers'] %}
{% if inventory_hostname != server %}
nameserver {{ hostvars[server].ansible_host }}
{% endif %}
{% endfor %}
search {{ ad_workgroup }}
